<script>
    var myApp = angular.module('myApp');

    myApp.factory('dataservice', ['$http', function($http) {

        var referencesPromise;
        var referencesFetched = false;
        return{
            getReferences: function(refresh){
                if (!referencesFetched || refresh) {
                    referencesPromise = $http.get('{{ site.baseurl }}/ngData/references.yml');
                    referencesFetched = true;
                }
                return referencesPromise;
            }
        }
    }]);

</script>